<h1><%= @group_post.user.name %>の投稿</h1>

<% if @group_post.image.attached? %>
  <%= image_tag @group_post.image, class: 'img-fluid', style: 'max-width: 80%; height: auto;' %>
<% else %>
  <p>画像はありません</p>
<% end %>

<p><strong>投稿日時:</strong> <%= @group_post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

<% if current_user == @group_post.user || current_user == @group.owner %>
  <%= link_to '削除', group_group_post_path(@group, @group_post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
<% end %>