<h3 class="text-center text-dark bg-light p-3 rounded shadow-sm border border-info mb-5">フォロー中</h3>

<% if @followings.any? %>
  <div class="d-flex flex-column">
    <% @followings.each do |followed_user| %>
      <div class="d-flex align-items-center mb-3 p-3 border rounded shadow-sm bg-white">
        
        <%= image_tag followed_user.get_profile_image(50, 50), class: "rounded-circle me-3" %>

        <div class="flex-grow-1">
          <h5 class="mb-0"><%= followed_user.name %></h5>
        </div>
        
        <div>
        <%= link_to "プロフィール", user_path(followed_user), class: "btn btn-primary btn-sm" %>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>フォローしているユーザーはいません。</p>
<% end %>
