// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home-page {
  background-image: url('/assets/images/sky.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}